header {
    background-color: rgb(10, 132, 238);
    color: blueviolet;
    text-align: center;
    max-width: 800px;
    margin: 0 alto;

}

main {
    background-color: rgb(7, 30, 107);
    color: rgb(21, 218, 201);
    text-align: center;
    max-width: 800px;
    margin: 0 alto;

header{
background-color: #dfd113;
color: rgb(58, 3, 3);
text-align: center;
max-width: 800px;
margin: 0 auto;
padding: 16px;
}

main{
background-color: rgb(1, 0, 2);
color: #520386;
display: flex;
}

img{
height: 900px;
width: 600px;
}

footer{
background-color: #000000;
color: white;
text-align: center;
max-width: 800px;
margin: 0 auto;
}

.autor{
font-weight: bold;
}


